/* ====media query=== */

/* ====media query=== */

@media (max-width: 768px) {
    header {
        display: block;
    }

    .logo-name {
        display: grid !important;
        grid-template-columns: 1fr !important;
        /* background-color: red; */
        justify-items: center;
        text-align: center;
    }

    .logo-name span {
        font-size: var(--font-size-h3) !important;
    }

    .logo-name img {
        max-width: 90rem;
        height: auto;
        width: 100%
    }


 /* -----hamburger--- */
    .hamburger {
        display: block;
        background-color: transparent;
        font-size: 3rem;
        cursor: pointer;
        color: rgb(17, 17, 17);
    }
    
    nav ul.open{
        display: block;
        width: 100%;
    }

    nav ul {
        display: none;
        flex-direction: column;
    }


    main h1 {
        text-align: center;
    }
    
    .student-info {
        display: grid !important;
        grid-template-columns: 1fr !important;
    }

    .course-credit ul{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 482px){
    .social-media{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        grid-gap: 2rem;
    }
}